:root {
  --primer-color: #45a10c;
  --segundo-color: #171717;
  --tercer-color: #282828;
  --cuarto-color: #ffffff;
  --font-titulo: "Poppins", sans-serif;
  --font-parrafo: "Poppins", sans-serif;
}
