.fa-solid {
  color: white;
}

.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  background-color: var(--segundo-color);
  color: white;
  position: fixed;
  width: 100%;
  font-family: var(--font-titulo);
  z-index: 100;
  max-width: 2600px;
}

.header h1 {
  margin-left: 100px;
}
.navbar-list {
  justify-content: space-around;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-right: 50px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.navbar {
  display: flex;
}
.navbar #bar {
  display: none;
  font-size: 36px;
  cursor: pointer;
  margin-right: 30px;
}

#toggle-menu {
  display: none;
}

.navbar-link {
  text-decoration: none;
  color: white;
  font-family: var(--font-titulo);
  font-size: 20px;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.navbar-link::after {
  content: "";
  display: block;
  background-color: var(--primer-color);
  width: 100%;
  height: 3px;
  margin-top: 3px;
  clip-path: var(--clippy);
  transition: clip-path 0.5s;
  align-items: center;
  justify-content: center;
}

.navbar-link:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#ingreso-navbar {
  background-color: var(--primer-color);
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
  font-family: var(--font-titulo);
  font-weight: 500;
  text-decoration: none;
}

#ingreso-navbar:hover {
  background-color: white;
  color: var(--primer-color);
  scale: 1.2;
  transition: 0.5s;
}

@media (max-width: 950px) {
  .navbar ul {
    width: 100%;
    height: cal(100vh - 80px);
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    background-color: var(--tercer-color);
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path 1.5s ease, box-shadow 1.5s ease;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  }

  .navbar #bar {
    display: block;
  }

  #toggle-menu:checked ~ .navbar-list {
    display: flex;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.2);
  }
}

#boton-ingresar {
  align-items: center;
}

@media (min-width: 768px) and (max-width: 950px) {
  .header h1 {
    margin-left: 50px;
  }
}

@media (max-width: 767px) {
  .header {
    height: 80px;
  }

  .header h1 {
    margin-left: 20px;
  }

  .navbar ul {
    gap: 20px;
  }

  .hero-content {
    text-align: center;
    justify-content: center;
  }
}
